{% extends 'base.html' %}
{% block main %}

<table class = 'table table-hover'>
    <tr>
        <th>ID</th><th>Score</th><th>Title</th><th>Links</th>
    </tr>
    {% for note in note_list %}
        <tr>
            <td>{{note.id}}</td>
            <td>{{note.get_score_display}}</td>
            <td>{{note.title}}</td>
            <td>
                <a href="{% url 'note_detail' note.id%}" class = "btn btn-info">詳細</a>
            </td>
        </tr>
    {% endfor %}

    <a href="{% url  'create'%}">登録</a>
    <a href="{% url 'mypage' 'create'%}>createのページ"</a>

</table>
{% endblock %}

